<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sickmartian.quickreminderwidget">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.sickmartian.quickreminderwidget.QAWApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".AlarmEditionActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.HiddenActivityForPopup" />
        <activity android:name=".QuickReminderWidgetConfigurationActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name="com.sickmartian.quickreminderwidget.QuickReminderWidgetProvider">
            <intent-filter>
                <action android:name="com.sickmartian.quickreminderwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_info" />
        </receiver>

        <service android:name="com.sickmartian.quickreminderwidget.QuickReminderWidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name="com.sickmartian.quickreminderwidget.TimeSyncReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <service android:name="com.sickmartian.quickreminderwidget.TimeSyncService" />

        <receiver android:name="com.sickmartian.quickreminderwidget.AlarmIntentionReceiver"/>
        <service android:name="com.sickmartian.quickreminderwidget.AlarmIntentionService" />

        <receiver android:name="com.sickmartian.quickreminderwidget.CalculateAndScheduleNextAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <service android:name="com.sickmartian.quickreminderwidget.CalculateAndScheduleNextAlarmService" />

        <receiver android:name="com.sickmartian.quickreminderwidget.NotificationReceiver" />
        <service android:name="com.sickmartian.quickreminderwidget.NotificationService" />

        <provider
            android:name="com.sickmartian.quickreminderwidget.data.QAWProvider"
            android:label="Provider"
            android:authorities="com.sickmartian.quickreminderwidget"
            android:exported="false"
            android:syncable="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a4de958ab7ef1c180b8bd0c6c85f739d96b18cd5" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>