<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sickmartian.quickalarmwidget">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".QAWApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="QuickAlarmWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_info" />
        </receiver>

        <service android:name="QuickAlarmWidgetService"
                 android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".TimeSyncReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <service android:name=".TimeSyncService" />

        <receiver android:name=".AlarmIntentionReceiver"/>

        <receiver android:name=".CalculateAndScheduleNextAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <service android:name=".CalculateAndScheduleNextAlarmService" />

        <provider
            android:name=".data.QAWProvider"
            android:label="Provider"
            android:authorities="com.sickmartian.quickalarmwidget"
            android:exported="false"
            android:syncable="false" />

    </application>

</manifest>